.app-container {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: inherit;
    background: #F7F8F9;
}

.app-content {
    margin: 8px;
    min-height: 100%;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html ::-webkit-scrollbar{
    display: none;
}

.p-tabview-panels{
    padding: 0 !important;
}

.p-toast-message-text{
    text-align: left;
}

#template {
    background-color: #2196F3;
}

.background{
    width: 100%;
    height: 100%;
}

.login_box {
    width: 70%;
    /*height: 40%;*/
    position: absolute;

    /*overflow: auto;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
    width: 41%;
    /*height: 100%;*/
    padding: 25px 25px;

}
.login_box .right{
    width: 59%;
    /*height: fit-content;*/
    resize: both;
}
.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}
.left .top_link{
    height: 20px
}
.left .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
    text-align: center;
    margin-bottom: 40px;
    color: #222222;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}


.right .right-text{
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
}
.right-text h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.right-text h5{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.right .right-inductor{
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
